.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
section {
    height: 100vh;
    scroll-snap-align: center;
}

h2{
  opacity: 0;
  transition: 3s ease;
  transition-property: opacity;
}

/* Other styles */
section {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkorchid;
  }
  
  section:nth-child(2n) {
    background-color: turquoise;
  }
  
  section:nth-child(3n) {
    background-color: tomato;
  }

.is-visible{
  opacity: 1;
}